
    @define-color background #181216;

    @define-color error #ffb4ab;

    @define-color error_container #93000a;

    @define-color inverse_on_surface #362e33;

    @define-color inverse_primary #814c77;

    @define-color inverse_surface #ecdfe5;

    @define-color on_background #ecdfe5;

    @define-color on_error #690005;

    @define-color on_error_container #ffdad6;

    @define-color on_primary #4d1f46;

    @define-color on_primary_container #ffd7f2;

    @define-color on_primary_fixed #340830;

    @define-color on_primary_fixed_variant #67355e;

    @define-color on_secondary #3e2a39;

    @define-color on_secondary_container #f8daee;

    @define-color on_secondary_fixed #271623;

    @define-color on_secondary_fixed_variant #554050;

    @define-color on_surface #ecdfe5;

    @define-color on_surface_variant #d2c2cb;

    @define-color on_tertiary #4c2619;

    @define-color on_tertiary_container #ffdbcf;

    @define-color on_tertiary_fixed #321206;

    @define-color on_tertiary_fixed_variant #663c2d;

    @define-color outline #9a8d95;

    @define-color outline_variant #4e444b;

    @define-color primary #f3b2e3;

    @define-color primary_container #67355e;

    @define-color primary_fixed #ffd7f2;

    @define-color primary_fixed_dim #f3b2e3;

    @define-color scrim #000000;

    @define-color secondary #dbbed1;

    @define-color secondary_container #554050;

    @define-color secondary_fixed #f8daee;

    @define-color secondary_fixed_dim #dbbed1;

    @define-color shadow #000000;

    @define-color source_color #f88de5;

    @define-color surface #181216;

    @define-color surface_bright #3f373c;

    @define-color surface_container #241e22;

    @define-color surface_container_high #2f282c;

    @define-color surface_container_highest #3a3337;

    @define-color surface_container_low #201a1e;

    @define-color surface_container_lowest #120c10;

    @define-color surface_dim #181216;

    @define-color surface_tint #f3b2e3;

    @define-color surface_variant #4e444b;

    @define-color tertiary #f5b9a5;

    @define-color tertiary_container #663c2d;

    @define-color tertiary_fixed #ffdbcf;

    @define-color tertiary_fixed_dim #f5b9a5;

