@import url("/home/mohiitp/.config/waybar/colors.css");

* {
  border: none;
  border-radius: 0;
  font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
  font-size: 18px;
  min-height: 0;
}

window#waybar {
  background: @background;
  color: @on_surface;
}

/* Workspaces */
#workspaces button {
  color: @on_surface_variant;
  padding: 0 7px;
  background: transparent;
}

#workspaces button.active,
#workspaces button.focused {
  background: @primary;
  padding: 0 1px;
  border-radius: 4px;
  color: @on_primary;
  margin: 6px;
}

#workspaces button.urgent {
  background: @error;
  color: @on_error;
}

#workspaces button:hover {
  background: @surface_variant;
}

/* Modules */
#clock,
#pulseaudio,
#pulseaudio.microphone,
#custom-screenshot,
#custom-notify,
#power-profiles-daemon,
#custom-pacman {
  padding: 0 10px;
  margin: 0;
}

/* Audio */
#pulseaudio.muted {
  color: @outline;
}

/* Tray */
#tray {
  padding: 0 8px;
}
